---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { pages } from "@i18n/en";
---

<PageLayout
  title={pages.notFound.title}
  description={pages.notFound.description}
>
  <Container>
    <div class="animate space-y-4 text-center py-16">
      <h1
        class="text-6xl font-mono font-semibold text-light-fg-muted dark:text-dark-fg-muted"
      >
        404
      </h1>
      <p>{pages.notFound.description}</p>
      <p>
        <Link href="/">{pages.notFound.goHome}</Link>
      </p>
    </div>
  </Container>
</PageLayout>
