---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { PROJECTS } from "@consts";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort(
    (first, second) => second.data.date.valueOf() - first.data.date.valueOf(),
  );
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <ul class="animate flex flex-col gap-4">
        {
          projects.map((project, index) => (
            <li>
              <ProjectCard entry={project} index={index} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
