---
import { getCollection } from "astro:content";

import Container from "@components/Container.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { PROJECTS } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((first, second) => first.data.sortOrder - second.data.sortOrder);
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <h1 class="sr-only">{PROJECTS.TITLE}</h1>
    <div class="space-y-10">
      <ul class="animate flex flex-col gap-4">
        {
          projects.map((project) => (
            <li>
              <ProjectCard entry={project} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
